<mat-card>
    <mat-card-title>Alterar Carro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
                [(ngModel)]="car.name" name="name" >
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Ano" 
                [(ngModel)]="car.year" name="year" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cor" 
                [(ngModel)]="car.color" name="color" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Potência" 
                [(ngModel)]="car.horsepower" name="horsepower" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cilindros" 
                [(ngModel)]="car.cylinders" name="cylinders" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cilindradas" 
                [(ngModel)]="car.engine_capacity" name="engine_capacity" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
                [(ngModel)]="car.price" name="price" >
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateCar()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()" color="">
        Cancelar
    </button> 
</mat-card>